body {
    margin: 0;
}

.main_banner {
    background: url("img/aveq_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

a {
    text-decoration: none;
}


.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 85%;
    margin: 3em auto;
}

.nav a {
    color: white;
    font-family: 'Tomorrow', sans-serif;
    font-size: 1em;
    padding-right: 1.5rem;
    font-weight: 400;
    vertical-align: text-bottom;
}

.nav a:hover {
	color: black;
  transition: all 0.7s ease-in-out;
}

.nav ul {
    list-style-type: none;
  }

.nav li {
    display: inline-block;
    padding-top: .7em;
}

.social-menu {
    width: .9em;
    vertical-align: baseline;
 }

.logo-pic {
    width: 14rem;
 }

.main_slogan {
    color: white;
    font-family: 'Tomorrow', sans-serif;
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    margin: auto;
    padding-top: 1.2rem;
    text-transform: uppercase;
    opacity: 0.95;
}
.main_cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    color: white;
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    /*background: #0a0e18;*/
    margin: auto;
    margin-top: 6em;
  }

.main_cta p {
    color: black;
}

.main_cta:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 12s ease infinite;
  background-size: 400% 400%;
}


@keyframes animatedgradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


	/* koniec strony głównej */


	/* ninja crew */

.ninja-crew {
    background-color: black;
    }

.ninja_crew_title {
    font-family: 'Roboto Mono', monospace;
    color: #1368F2;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

img {
    max-width: 100%;
}

.portrait {
       width: 100%;
       margin-bottom: -37px;

	}

.sygnet {
	width: 5%;
	margin: 4em auto;
}

.ninja_crew_description {
    color: white;
    opacity: 0.8;
	font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 5em 0 5em;

}

.ninja_crew_description_bold {
	font-family: 'Be Vietnam', sans-serif;
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}


.youtube {

    margin: 7em auto;

}

.line {
	width: 85%;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid white;
}

.cooperation1 {
	text-align: center;
	margin: 4em auto;
}

.cooperation1 h1 {
	padding-bottom: 2em;
}

.cooperation2 {
	color: white;
	font-family: 'Be Vietnam', sans-serif;
	font-size: 2rem;

}

.logos ul {
	margin: 0 auto;

}

.logos li {
	display: inline-block;
	width: 20%;
	padding: 30px;
}


/* mozliwości */

.mozliwosci_title {
	color: #33EBDB;
	font-family: 'Roboto Mono', monospace;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.div_mozliwosci {
	background-color: #33EBDB;
	width: 100%;
  margin-bottom: -32px;

}

.opis_mozliwosci {
	color: black;
	font-family: 'Be Vietnam', sans-serif;
	font-size: 2rem;
	padding: 4em 3em;
}

.ninjas {
		background-image: url("img/ninjas.jpg");
		background-size: cover;
		text-align: center;
		position: relative;
		display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  background-attachment: fixed;
		  height: 650px;
		overflow: hidden;

	}

	.ninjas::before {

		position: absolute;
		z-index: -2;

	}

/* kontakt */

.kontakt_title {
	color: #AB33EB;
	font-family: 'Roboto Mono', monospace;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.p_kontakt {
	color: #AB33EB;
	font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
	margin-top: 0;
	margin-left: 3em;
}

.main_cta2 {
	width: 30%;
    margin: 0 auto;
}

.main_cta2 p {
	color: #AB33EB;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 4em auto;
    border: 1px solid #AB33EB;
}

/* realizacje */

.realizacje_title {
	color: #EB336C;
	font-family: 'Roboto Mono', monospace;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.tytuly_imprez {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 100;
  text-align: center;
  padding-top: 2em;
}

.opisy_imprez {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-weight: 100;
  text-align: center;
}

.row {
  margin-top: 3em;
}


/* form */

body {
    background-color: grey;
}

.form_icon {
    width: 10%;
    margin-left: 7em;
}



/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 3em 5em 2em 5em;
  vertical-align: middle;

}

.logo_footer {
	width: 5rem;
}

.adres_footer {
  color: white;
  font-family: Ubuntu;
}

.footer_cta {
  width: 30%;

}

.footer_cta p {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: .7em;
  padding: .7em;
  text-transform: uppercase;
  font-weight: 100;
  border: 1px solid white;

}
 
/* hamburger */

@media (max-width: 576px){
body {
    margin:0;
}
  
.nav {
    display: block;
    width: 85%;
    z-index: 3;
}
  
.nav ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    overflow: hidden;
}
  
.nav ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.8em;  
}
  
.nav ul a:hover {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
}
  
.nav .logo-pic {
    float: left;
    display: block;
    max-width: 50%; 
}
  
.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
.nav li {
    width: 100%;
    text-align: center;
}
  
.nav ul .social-media{
    display: none;
}
  
.nav .menu-icon {
    margin-top: 0;
    position: relative;
    float: right;
    cursor: pointer;
    max-width: 50%;
    padding: 0;
}
  
.nav .menu-icon .nav-icon {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    display: block;
    height: 4px;
    width: 2rem;;
    position: relative;
    transition: background .2s ease-out;
}
  
.nav .menu-icon .nav-icon:before{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 10px;
}
  
.nav .menu-icon .nav-icon:after{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -10px;
}
  
.nav .menu-btn{
    display: none;
}
  
.nav .menu-btn:checked ~ .menu{
    max-height: 240px;
}
  
.nav .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
  
.nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
  
.nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
} 
}
  
@media (max-width: 992px){
body {
    margin:0;
}
      
.nav {
    display: block;
    width: 85%;
    z-index: 3;
}
      
.nav ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    overflow: hidden;
}
      
.nav ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.8em;  
}
      
.nav ul a:hover {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s ease-in-out;
}
      
.nav .logo-pic {
    float: left;
    display: block;
    max-width: 50%; 
}
      
.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
      
.nav li {
    width: 100%;
    text-align: center;
}
      
.nav ul .social-media{
    display: none;
}

input{
    display: none;
}
      
.nav .menu-icon {
    margin-top: -8px;
    position: relative;
    float: right;
    cursor: pointer;
    max-width: 50%;
    padding: 28px 20px;
}
      
.nav .menu-icon .nav-icon {
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    display: block;
    height: 4px;
    width: 2rem;;
    position: relative;
    transition: background .2s ease-out;
}
      
.nav .menu-icon .nav-icon:before{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 10px;
}
      
.nav .menu-icon .nav-icon:after{
    background: linear-gradient(60deg, #ff512f, #e61b54, #dd2476, #AB33EB, #0261fc, #1098ad, #33ebdb, #10ee49);
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -10px;
}
      
.nav .menu-btn{
    display: none;
}
      
.nav .menu-btn:checked ~ .menu{
    max-height: 240px;
}
      
.nav .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
      
.nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
      
.nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}
}

@media (min-width: 993px){

input{
    display: none;
}
}

/*end of hamburger*/